@import "reset.css";
@import "header.css";
@import "footer.css";
@import "main.css";

body {
  font-family: -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo",
    "Pretendard Variable", Pretendard, Roboto, "Noto Sans KR", "Segoe UI",
    "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    sans-serif;
}

.media-info-msg {
  position: fixed;
  inset: 0;
  display: none; /* ← 처음엔 무조건 안 보이도록 */
  justify-content: center;
  align-items: center;
  background: darksalmon;
  z-index: 3000;
}

@media (min-width: 481px) {
  .media-info-msg {
    display: flex;
  }
}
